resources:
  repositories:
    - repository: templates
      type: github
      name: beckermr/conda-package-tools
      ref: refs/tags/v2.2
      endpoint: azure-read-only

variables:
  buildtag: v2.2

jobs:
  - template: linux_python3.7_azure_template.yml@templates
    parameters:
      buildtag: $(buildtag)
  - template: osx_python3.7_azure_template.yml@templates
    parameters:
      buildtag: $(buildtag)
